@import "colors.css";
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");

/* 
//////////// General Styling  ////////////
 */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
}

.main-title {
  font-size: 30px;
  text-align: center;
}
.main-title::after {
  content: " ";
  display: block;
  width: 80px;
  height: 3px;
  margin: 14px auto 0;
  background-color: var(--main-color);
}

ul {
  list-style: none;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "COCOGOOSE", sans-serif;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-family: inherit;
  z-index: 1;
}

header .media {
  display: none;
}

.nav-bar {
  height: 70px;
  background-color: #d3d3d3f2;
}

.hamburger .show-menu-btn {
  position: fixed;
  top: 24px;
  left: 24px;
  width: 42px;
  font-size: 30px;
  z-index: 2;
}

.hamburger .close-menu-btn {
  display: none;
  position: fixed;
  top: 36px;
  right: 36px;
  width: 24px;
  font-size: 25px;
  z-index: 3;
}

nav .logo {
  display: none;
  width: 120px;
  height: auto;
  cursor: pointer;
}

nav .logo img {
  width: 100%;
  height: auto;
}

nav .nav-menu {
  visibility: hidden;
  transform: translateY(-100%);
}

nav .nav-menu li a {
  color: #272a31;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.5s ease-in;
}

nav .nav-menu li a:hover {
  color: var(--main-color);
  cursor: pointer;
}

nav .nav-menu.open,
nav .nav-menu.hide {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 1s ease-in-out;
  transform: translateY(0%);
  width: 100%;
  height: 100%;
  padding-left: 28px;
  padding-top: 62px;
  background-color: #d3d3d3f6;
}

nav .nav-menu.hide {
  visibility: hidden;
  transform: translateY(-100%);
  height: 10px;
}

nav .nav-menu.open li,
nav .nav-menu.hide li {
  margin: 12px;
}

nav .nav-menu.open li a,
nav .nav-menu.hide li a {
  font-size: 20px;
  line-height: 44px;
  font-weight: 500;
  text-decoration: none;
  color: #272a31;
}

main {
  width: 100%;
  font-family: inherit;
}

/* Accueil Styling */

.accueil-section {
  padding: 80px 24px 30px;
  background-color: var(--main-white);
  background-image: linear-gradient(
      rgba(217, 214, 214, 0.828),
      rgba(235, 235, 235, 0.884)
    ),
    url("../images/galleries/p-culture-5.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-accueil-section {
  color: var(--main-color);
  text-align: center;
}

.title-accueil-section h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--main-color);
  margin: 10px 0;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center center;
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-accueil-section h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 32px;
  padding: 55px 0;
}

.title-accueil-section p {
  font-size: 25px;
  line-height: 30px;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .accueil-section {
    padding-left: 14%;
    padding-right: 10%;
  }
}

@media screen and (min-width: 769px) {
  header .media {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #272a31;
  }

  header .media ul {
    justify-content: flex-end;
    margin-right: 5%;
  }

  .media ul li {
    padding: 15px 20px;
  }

  .media ul li a {
    color: #d3d3d3;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.5s ease-in-out;
  }

  .media ul li a:hover {
    color: var(--main-color);
  }

  .hamburger .show-menu-btn {
    display: none;
  }

  header .hamburger {
    position: fixed;
    top: 22px;
    left: 0;
    right: 0;
    justify-content: space-between;
    margin-left: 47px;
    margin-right: 80px;
    z-index: 2;
  }

  nav .logo {
    display: block;
    width: 4.5rem;
    height: 100px;
    margin-top: 27px;
  }

  nav .nav-menu {
    visibility: visible;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: static;
    transition: all 1s ease-in-out;
    transform: translateY(0%);
  }

  nav .nav-menu li {
    font-size: 18px;
    font-weight: 700;
    margin: 12px;
    font-family: "Lato", sans-serif;
  }

  nav .nav-menu li.active a {
    color: var(--main-color);
  }

  .nav-bar {
    background-color: rgba(253, 251, 251, 0.881);
    height: 117px;
  }

  .accueil-section {
    padding-top: calc(120px + 92px);
    padding-bottom: 120px;
  }
  
  .title-accueil-section h2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
  }

  .title-accueil-section h1 {
    font-size: 40px;
    line-height: 60px;
  }
}
