@import "colors.css";
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");

body {
  background-color: rgba(198, 199, 205, 0.3);
}

#Contacts {
    margin: 40px auto;
}
.contacts-section {
  width: 80%;
  margin: auto;
  font-family: "Lato", sans-serif;
}

/* Style the icon */
.contact-icon {
  width: 60px;
  height: 60px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
}

/* Style the svg itself */
.contact-icon svg {
  width: 30px;
  height: 30px;
  margin: auto;
  fill: white;
}

/* Addresses Section */
.contacts-section h2 {
  font-size: 1.5rem;
}

.contacts-section #adresses {
  margin: 0 0 20px;
}

.contacts-section #adresses p {
  font-size: 1.1rem;
}
.contacts-section #adresses p span {
  font-weight: bold;
}

/* GenralStyle for All 4 sections */
#adresses,
#emailing,
#calling,
#messaging {
  padding: 2rem;
  background-color: var(--main-white);
  border-radius: 20px;
  text-align: center;
}

/* Style for Email and Call Section */
#emailing-calling {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  text-align: center;
}

#emailing-calling ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#emailing-calling li {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 10px;
}

/* Style for Email Section */
#emailing a {
  text-decoration: none;
}

/* Style for messaging section */
#messaging {
  margin: 20px 0 0 0;
}

#messaging input {
  height: 35px;
  padding: 10px, 20px;
}

#messaging textarea {
  resize: none;
  height: 100px;
}

#messaging form label {
  display: none;
}

/* Style inputs with type="text" and textarea */
#messaging input[type="text"],
textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin: 0;
}

#messaging input[type="submit"] {
  background-color: var(--main-color);
  color: var(--main-white);
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0 0 0;
  transition: all 0.35s ease-in-out;
}

#messaging input[type="submit"]:hover {
  background-color: blue;
}

/* Support for screen size of 769px or wider */
@media screen and (min-width: 769px) {
  #emailing-calling {
    grid-template-columns: repeat(2, 1fr);
  }
}
