@import url("../css/colors.css");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");

/* Style Footer Section */
footer {
  background-color: var(--footer-bg);
  font-family: "Lato", sans-serif;
  color: var(--main-white);
  padding: 20px;
}

footer p {
  text-align: center;
  font-size: large;
  line-height: 30px;
}

footer hr {
  height: 1px;
  background-color: gray;
  border: none;
  margin: 20px auto;
}

/* Style socials and links container */
#socials-links {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
}

/* Style Socials container */
#socials {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
}

#socials h1 {
  margin: 15px 0;
}

#socials ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

#socials ul li {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
}

#socials ul li a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px; /* vertically center the icon within the square */
  background-color: rgba(255, 166, 0, 0.5);
  color: var(--main-white);
  border-radius: 8px;
  transition: background-color 0.5s ease;
}

#socials ul li a:hover {
  background-color: var(--main-color);
}

/* Style Links container */
#links {
  padding: 0 30px;
}

#links h2 {
  margin: 0;
}

#links ul {
  list-style: none;
  padding: 0;
  column-count: 2;
}

#links ul li {
  margin: 10px auto;
}

#links li::before {
  content: "> ";
  color: var(--main-orange);
  font-weight: bold;
  font-size: larger;
}

/* Common Styling */
#links ul a,
footer p a {
  text-decoration: underline;
  color: var(--main-white);
  font-size: large;
  transition: color 0.5s ease;
}

#links ul a:hover,
footer p a:hover {
  color: var(--main-color);
}

@media screen and (min-width: 769px) {
  #socials-links {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }
}
