@import url("../css/colors.css");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");

/* Style the publication Container */
.publications-section {
  width: 100%;
  margin: 10px auto;
  font-family: "Lato", sans-serif;
}

.publications-section h1 {
  margin: 10px 0;
}

.publications-section h2 {
  margin-left: 20px;
}

.publications-section h2 span {
  margin: 0;
  font-weight: normal;
  color: var(--main-color);
}

.publications-section h1::after {
  content: " ";
  display: block;
  width: 80px;
  height: 3px;
  margin: 14px auto 0;
  background-color: var(--main-color);
}

hr {
  margin: 5px auto;
}
/* Style different particular activities */
.activity {
  padding: 20px;
  background-color: var(--activity-bg);
  border-radius: 20px;
  margin: 20px 0;
}

.activity h4 {
  font-size: x-large;
  color: var(--main-color);
  margin: 0 0 20px 0;
}
.activity p {
  color: gray;
  font-size: larger;
  padding: 10px 0;
}

.activity img {
  border-radius: 15px;
  margin: 0;
  padding: 0;
}

.activity p,
.act-4 figcaption {
  font-weight: 300;
}
.activity p::before,
.act-4 figcaption::before {
  content: "> ";
}

.activity img {
  width: 100%;
  background-color: black;
}

.activity > .img-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  grid-gap: 15px;
}

/* Style activity 4 */
.act-4 > img:first-of-type {
  max-height: 500px;
}

.act-4 h5 {
  font-size: large;
  font-weight: normal;
  margin: 10px 0;
}

.act-4 figure {
  width: 100%;
  margin: 0;
}

/* Style activity 5 */
.act-5,
.act-3 ul {
  font-size: larger;
  list-style: disc;

}

.activity ul {
  list-style: disc;
  margin: 20px;
}

.act-5 ul li {
  padding: 10px 0;
}

.act-5 h4::after {
  content: "  ";
  display: inline-block;
  width: 80px;
  height: 1.5px;
  background-color: red;
}

@media screen and (min-width: 769px) {
  .publications-section {
    width: 70%;
    margin: 30px auto;
    font-family: "Lato", sans-serif;
  }
  .activity > .img-container {
    grid-template-columns: 1fr 1fr;
  }
}
